node_modules

assets/berries/*
!assets/berries/.gitkeep

assets/sprites/normal/*
!assets/sprites/normal/.gitkeep

assets/sprites/shiny/*
!assets/sprites/shiny/.gitkeep

assets/types/*
!assets/types/.gitkeep

.DS_Store